/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/
/[Ll]ogs/
/[Dd]LC/
/[Uu]serSettings/
/[Aa]ssets/StreamingAssets/
/[Aa]ssets/Assets/[Xx][Ll]ua/
/[Aa]ssets/[Uu]nity.[Vv]isualScripting.[Gg]enerated/
/[Hh]ybrid[Cc][Ll][Rr][Dd]ata/
.vscode/
.vs/

/[Aa]ssets/StreamingAssets.meta
/[Aa]ssets/[Bb]uild[Aa]sset/[Ll]ua/editor/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc
*.apk
/Assets/Scripts/GUIHelp.cs
/Assets/Resources/localapp.bytes
/Assets/Resources/localapp.bytes.meta
/Assets/Resources/local.bytes
